/* Pour le fond de la page */
body {
    background-image: url("../images/machine.png"); /* Chemin vers l'image de fond */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #fff; /* Couleur de texte pour une meilleure lisibilité sur le fond */
  }
  
  /* Style du titre principal */
  h1 {
    text-align: center;
    padding: 20px;
    background-color: #0e3641; /* Fond semi-transparent */
    color: #fff;
    margin: 20px;
    border-radius: 8px;
  }
  
  /* Style des sections */
  section {
    background-color: #57717ede; /* Fond semi-transparent */
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 800px;
  }
  
  /* Style des tableaux */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table, th, td {
    border: 1px solid #fff;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color:#0e3641; /* Couleur de fond de l'en-tête */
  }
  
  /* Style des formulaires */
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Fond semi-transparent */
    padding: 15px;
    border-radius: 8px;
  }
  
  /* Style des champs de saisie */
  input[type="text"],
  input[type="date"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3); /* Fond semi-transparent des champs */
    color: #fff; /* Couleur de texte */
  }
  
  /* Style du bouton */
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #0e3641; /* Couleur de bouton */
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0e3641; /* Couleur de bouton au survol */
  }
  